{% extends "base.html" %}

{% block title %}Вход в аккаунт - Лучший друг{% endblock %}

{% block content %}
<div class="container create-quiz-container">
    <h1>Вход в аккаунт</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('acount') }}">
        <div style="display: flex; flex-direction: column; gap: 15px;">
            <input type="email" name="userEmail" placeholder="Введите почту">
            <input type="password" name="userPassword" placeholder="Введите пароль">
            <div>
                <button class="back-button" type="submit">Войти</button>
            </div>
        </div>
    </form>
    <div style="margin-top: 20px;">
        <p>Нет аккаунта? <a href="{{ url_for('create_acount') }}" style="color: #C0774F;">Зарегистрируйтесь</a></p>
    </div>
    <a href="{{ url_for('index') }}" class="back-button">На главную</a>
</div>
{% endblock %}