{% extends "base.html" %}

{% block title %}Создание аккаунта - Лучший друг{% endblock %}

{% block content %}
<div class="container create-quiz-container">
    <h1>Заполни информацию о себе</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('create_acount') }}">
        <div style="display: flex; flex-direction: column; gap: 15px;">
            <input type="text" name="userName" placeholder="Введите имя пользователя" size="18">
            <input type="email" name="userEmail" placeholder="Введите почту" size="18">
            <input type="password" name="userPassword" placeholder="Введите пароль" size="18">
            <input type="text" name="name" placeholder="Ваше имя (необязательно)" size="18">
            <div>
                <button class="back-button" type="submit">Зарегистрироваться</button> 
                <button class="back-button" type="reset">Очистить</button>
            </div>
        </div>
    </form>
    <a href="{{ url_for('index') }}" class="back-button">На главную</a>
</div>
{% endblock %}