{% extends "base.html" %}

{% block title %}Тест на лучшего друга{% endblock %}

{% block content %}
<div class="container">
    <h1>Тест</h1>
    
    <div class="instructions">
        <h3>Мой любимый цвет:</h3>
        <div class="step">
            <div class="step-number">1</div>
            <div class="step-text">розовый</div>
        </div>
        <div class="step">
            <div class="step-number">2</div>
            <div class="step-text">зеленый</div>
        </div>
        <div class="step">
            <div class="step-number">3</div>
            <div class="step-text">красный</div>
        </div>
        <div class="step">
            <div class="step-number">4</div>
            <div class="step-text">желтый</div>
        </div>
</div>
{% endblock %}